include "binds.kdl"
include "environment.kdl"
include "outputs.kdl"
include "rules.kdl"

// Miscellaneous
prefer-no-csd
screenshot-path "~/Pictures/grim/%Y-%m-%d %H-%M-%S.png"
hotkey-overlay {
	skip-at-startup
}

// Polkit GUI
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"

// Core spawns & globals
spawn-at-startup "xwayland-satellite"

// Wallpaper
spawn-at-startup "awww-daemon"
layer-rule {
	match namespace="^awww-daemon$"
	place-within-backdrop true
}

// Bar
//spawn-at-startup "waybar" 

// Power Management
spawn-at-startup "hypridle"

// Bluelight filter 
spawn-at-startup "gammastep"

// Noctalia Shell
spawn-at-startup "qs -c noctalia-shell"
 
cursor {
    xcursor-theme "Breeze_Light"
    xcursor-size 28
}

environment {
	DISPLAY ":0"
}

// Input 
input {
	keyboard {
		xkb {
			layout "us,fr"
		}
	}
	touchpad {
		tap
		natural-scroll
		accel-speed 0.2
		accel-profile "adaptive"
		scroll-method "two-finger"
	}
	mouse {
		accel-profile "flat"
	}
	tablet {
		map-to-output "HDMI-A-1"
	}
}

layout {
	gaps 5
	background-color "transparent"
	focus-ring{
		width 2
		active-color "#555"
	}
	border{
		off
	}
}
layer-rule {
	match namespace="^quickshell$"
	place-within-backdrop true
}

