@import "theme.css";

* {
	color: @main-fg;
}

@import "styles/fonts.css";
@import "styles/modules.css";
@import "styles/states.css";

.module {
	margin-bottom: -1px;
}
.modules-center{
  background-color: #111;
  border-radius: 10px;
}

#waybar {
	background-color: rgba(0,0,0,0);
}
#waybar > box {
	margin: 4px;
	background-color: rgba(0,0,0,0);
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}
