#workspaces,
#custom-distro,
#idle_inhibitor,
#clock.time,
#clock.date,
#network,
#bluetooth,
#custom-update,
#wireplumber,
#battery,
#custom-power,
#systemtray,
#mpris,
#window,
#keyboard-state label,
#language {
	margin: 0 6px;
}

#workspaces {
	padding: 0 1px;
}

#workspaces button.active label,
#workspaces button.focused label {
	color: @accent;
}

#window {
	margin: 0 12px;
}

#keyboard-state label,
#language {
	color: @hover-fg;
}


#custom-distro {
	padding: 0 10px 0 5px;
  border-radius: 5px;
	color: @accent;
}


#clock.time {
	padding-right: 6px;
}



#custom-tray-icon {
	font-size: 24px;
}
#battery, #custom-power{
    margin-right: 10px;
}

#mpris {
	padding: 0 12px;
}

